body {
    background-color: bisque;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin: 0px;
    font-family: 1.2vw;
}

#logo {
    margin: 0px;
    padding: 12px;
    height: 8vh;
    font-family: "Lilita One", Franklin Gothic medium;
    text-shadow: 2px 2px 5px rgb(169, 42, 80);
}

ul {
    margin: 0px;
}
body > header {
    background-color: rgb(191, 126, 145);
    color: bisque;
    margin: 0px;
    display: flex;
    height: 12vh;
    align-items: center;
    justify-content: space-between;
}

body > header > nav > ul {
    list-style: none;
    text-decoration: none;
    gap: 40px;
    display: flex;
}

.nav-ul {
    padding: 12px;
    margin: 16px;
}

.navbar {
    text-decoration: none;
    color: bisque;
    padding: 12px; 
    border: 2px solid bisque;
    border-radius: 15%;
}

body > main article {
    margin: auto;
    width: 70%;
}

#main-content {
    display: flex;
}

#ingredients {
    display: flex;
    justify-content: space-between;
}

.footer-ul {
    text-align: center;

}

div > #form {
    text-align: center;
    margin: 0px;
    width: 300px;
    border: 2px solid rgb(169, 42, 80);
    padding: 20px;
    margin: 20px auto;         
    width: 300px;
}

section > h2 {
    margin: 0px;
}

section > h3 {
    margin: 0px 0px 15px 0px;
}

form {
    margin: 15px;
}

body > footer {
    background-color: rgb(191, 126, 145);
    display: flex;

}
#footer-ul {
    display: flex;
    list-style: none;
    text-align: center;
}

#footer-ul > div > li {
    margin: 12px;
}

#footer-ul > div > li > a {
    color: bisque;
    text-decoration: none;
}