body {
    font-family:Verdana, Geneva, Tahoma, sans-serif ;
    margin: 0px;
    font-size: 1.2vw;
}

#logo {
    margin: 0px;
    padding: 8px;
    font-family: "Fredoka One", sans-serif;
    box-shadow: 5px 5px 10px 3px rgb(134, 58, 81);
    width: 13%;
    text-shadow: 2px 2px 5px rgb(171, 60, 93)
}

ul{
    margin: 0px;
}

body > header {
    background-color: rgb(191, 126, 145);
    color: bisque;
    display: flex;
    height: 12vh;
    align-items: center; 
    justify-content: space-around;
}

#nav-ul {
    display: flex;
}

#nav-ul > li {
    padding: 8px;
    margin: 16px;
}

body > header > nav > ul {
    list-style: none;
    text-decoration: none;
}

.navbutton {
    color: bisque;
    text-decoration: none;
    padding: 12px;
    border: 1px solid bisque;
    border-radius: 25%;
}

body > main article {
    width: 80%;
    margin: auto; 
}

#main-content {
    display: flex;
    justify-content: space-around;
}

#main-content > div {
    width: 70%;
}

form {
    text-align: center;
}

h2 {
    text-align: center;
}
body > footer {
    background-color:rgb(191, 126, 145);
    display: flex;
    align-items: center;
}

img {
    border-radius: 30%;
}

#footer-ul {
    display: flex;
    list-style: none;
}

#footer-ul > div > li {
    margin: 12px;
}

#footer-ul > div > li > a {
    text-decoration: none;
    color: bisque;
}